html,
body {
    box-sizing: border-box;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5em;
}

.toolbar-app-logo {
    width: 24px;
    height: 24px;
    margin: 0 4px 3px 0;
}

.app-wrapper {
    height: 100vh;
    overflow: hidden;
}

.layout-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    .content-wrapper {
        flex: 1;
        overflow-y: scroll;
    }
}

.page-content {
    padding: 1em;
    height: auto;
}

.page-content-center {
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    >* {
        width: 100%
    }
}

mat-toolbar {
    justify-content: space-between;
}