<section class="home-section header-intro">
  <div class="container">
    <h1 class="heading">
      Complete Angular6 BoilerApp
    </h1>
    <div class="description">
      <p>Implements Angular Material Design, with Angular best practices for scallable apps that includes best folder
        structure, routing, modules,components etc.</p>
      <br />
      <p>It includes layouts for landing and admin side, with demo components and modules for fast and easy start for
        any project.</p>
    </div>
  </div>
</section>