.home-products {
    background-color: #F9F9F9;
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2em 0em;
    >* {
        max-width: calc(33.33% - 20px);
    }
}